extends toplevel 
block content
    link(rel='stylesheet' href='styles/style.css')
    p#IsValid=resp
    form#Form(method='post' action='/createChart' class='form')
        head
            title leaderBoardsGraph
        body
        .graph 
            div.graphTitle
                h1 Placeholder
                p placeholder
                button#createD3Graph GenerateGraph
